{% extends 'layout.html' %} {% block title %} Pré-Formulação {% endblock %}
{%block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}

<div class="content">
  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="label">
      <label for="nome">Nome:</label> {{ form.nome(class='label',
      placeholder='Nome') }}
    </div>
    <div class="label">
      <label for="email">E-mail:</label>{{ form.email(class='label', placeholder='diullio@hotmail.com') }}
    </div>
    <div class="label"><label for="password">Senha:</label>{{ form.password(class='label', placeholder='Senha') }}</div>
    <div class="label">
      <label for="password-confirm">Confirmação de Senha:</label>{{ form.confirm_password(class='label', placeholder='Confirme sua Senha')
      }}
    </div>
    <div class="button-container">
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
